.wrapper
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    max-width: 95%
    margin: 0 auto

    @media (max-width: 768px)
        display: flex
        flex-wrap: wrap
        justify-content: center
