.wrapper
    background-color: #fff
    padding-right: 50px
    display: flex
    justify-content: space-between
    align-items: start
    min-height: calc( 100vh - 221px )

.imgWrapper
    width: 40%
    padding: 80px
    background-color: #e7e7e7
.img
    display: block
    height: 450px
    width: 350px
    box-shadow: 9px 9px 5px -3px rgba(0, 0, 0, 0.2)
    margin: 0 auto

.content
    width: 50%
    background-color: #fff
    padding: 30px 20px

.category
    color: #000
    font-size: 18px
    margin-bottom: 30px

.title
    font-size: 28px
    color: #000
    margin-bottom: 20px

.authors
    text-decoration: underline
    color: #535353
    font-size: 18px
    margin-bottom: 20px

.descrWrapper
    padding: 20px
    border: 1px solid #a3a3a3

.descr
    font-size: 18px
    font-weight: 500
